adminUser: admin
adminPassword: "admin"

service:
  type: ClusterIP

persistence:
  enabled: true
  size: 5Gi
  storageClassName: local-path

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.scloud-observability.svc.cluster.local:3100/
        isDefault: false
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo:3200
        isDefault: false
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
      - name: Mimir
        type: prometheus
        access: proxy
        url: http://mimir-k3s-gateway.scloud-observability.svc:80/prometheus
        isDefault: true

# Option: expose via Traefik Ingress
ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - grafana.localcat