deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: filesystem

  structuredConfig:
    limits_config:
      ingestion_rate_mb: 200
      ingestion_burst_size_mb: 400

      per_stream_rate_limit: 50MB
      per_stream_rate_limit_burst: 100MB

      max_entries_limit_per_query: 100000
      max_query_parallelism: 32

      max_global_streams_per_user: 100000
      max_streams_per_user: 0

    server:
      http_listen_port: 3100
      grpc_listen_port: 9095

lokiCanary:
  enabled: false

test:
  enabled: false

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 20Gi
    storageClass: local-path

  resources:
    requests:
      cpu: "2"
      memory: "4Gi"
    limits:
      cpu: "6"
      memory: "12Gi"

simpleScalable:
  replicas: 0

backend:
  replicas: 0

read:
  replicas: 0

write:
  replicas: 0

gateway:
  enabled: false

service:
  type: ClusterIP
